/* .card{
    width: 400px;
    height: 250px;
    background: #1f1e1e;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
    color: #fff;
} */

/* @media only screen and (max-width: 650px) {
    .card {
        width: 95%;
    }
} */

/* #171717 */

:root {
    --dark: #0a0e10;
    --dark2: #101518;
    --text: #fff;
    --main: #f0b90a;
    --heading: #f0b90a
}

.card-div{
    position: relative;
    width: 400px;
    height: 320px;
    margin: 2% 1% 2% ;
    border-radius: 15px;
    background-color: var(--dark);
    box-sizing: border-box;
}


.card{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #191919;
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.card h2 {
    font-family: 'Gupter', serif;
}

/* .card:active {
    transform: rotateY(180deg);
} */
/* 
.card:hover{
    transform: rotateY(180deg);  
} */


.front-side{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 7% 5%;
    border-radius: 15px;
    backface-visibility: hidden;
    background: var(--dark2);
    color: var(--text);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
}

.front-side p{
    margin: 4% 0 4%;
}

.front-side h2 {
    color: var(--heading);
    margin-bottom: 6%;
    align-self: center;
}

.click-message{
    animation: MoveUpDown 1s linear infinite;
    /* color: grey; */
    align-self: center;
    position: absolute;
    bottom: 0;
}

@keyframes MoveUpDown{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}

.front-side button{
    background-color: var(--main);
    color: #000;
    /* margin: auto; */
    padding: 2% 8% 2%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-div{
    width: 100%;
    box-sizing: border-box;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 7% 5%;
    border-radius: 15px;
    backface-visibility: hidden;
    background: var(--dark2);
    color: var(--text);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    transform: rotateY(180deg);
}

.back-side p {
    margin: 4% 0 4%;
}


.back-side h2 {
    color: var(--heading);
    margin-bottom: 6%;
    align-self: center;
}

.flip-card{
    transform: rotateY(180deg);
}

